/* Fondo de pantalla completa */
body {
    font-family: Arial, sans-serif;
    background: url('/images/cocina.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #F8F1E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Título */
h1 {
    color: #8F1630;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
}

/* Contenedor del formulario */
.producto-container {
    background-color: rgba(143, 22, 48, 0.9); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

/* Inputs */
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #F8F1E5;
    color: #2C2C2C;
}
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #F8F1E5;
    color: #2C2C2C;
}

/* Botón de creación */
button {
    background-color: #CDA45E;
    color: #2C2C2C;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

button:hover {
    background-color: #B08A50;
}
select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #F8F1E5;
    color: #2C2C2C;
}

/* Mensajes de éxito */
.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}
