body {
    font-family: Arial, sans-serif;
    background-color: #f8f1e5;
    color: #2c2c2c;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #cda45e;
    text-align: center;
}

table {
    background-color: #faf6f7;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #8f1630;
    color: #f8f1e5;
}

tr:nth-child(even) {
    background-color: #f0e6d2;
}

a {
    color: #8f1630;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
/* Estilos para el modal de edición */
#modal-editar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-editar form {
    color: #cda45e;
    background-color: #8f1630;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-editar {
    margin-left: 60px;
    background-color: #cda45e;
    color:#8f1630;
}

